<div class="animate__animated animate__fadeIn">

    <h2>Por Capital</h2>
    <hr>
        
    <div class="row">
        <div class="col">
    
            <app-pais-input (onEnter)="buscar( $event )"
                            (onDebounce)="sugerencia( $event )"
                            placeholder="Buscar capital...">
            </app-pais-input>
    
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias"
        class="list-group">
        <li *ngFor="let capitales of capitalesSugeridas"
            class="list-group-item list-group-item-action">
            <a [routerLink]="['/pais', capitales.alpha2Code]">
                {{ capitales.capital }}
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a  class="nav-link"
                (click)="buscarSugerido( termino )">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>
    
    <hr>
    
    <div class="alert alert-danger"
         *ngIf="hayError">
        No se encontró nada relacionado al termino "<strong>{{ termino }}</strong>".
    </div>
    
    <div *ngIf="capitales.length > 0" class="row">
        <div class="col">
    
            <app-pais-table [paises]="capitales"></app-pais-table>
    
        </div>
    </div>

</div>
